#Database
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/worldblog?retryWrites=true&w=majority

#Token
JWT_SECRET_KEY=tu_clave_secreta
JWT_ALGORITHM=HS256
JWT_EXPIRATION=1

#Log
LOG_FILENAME=api.log

#CORS
CORS_ORIGINS=https://tu-frontend.up.railway.app
